<div class='index'>

<h1>Welcome Back!</h1>


<%= form_with(scope: :user, url: login_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit "Let's Go!" %>
<%end%>
<br>
<!--
<%= button_to 'Login with Google', "/auth/google_oauth2", method: 'post' %>
-->

</div>