<div class='form'>
<%= form_with model: [@campaign, @character] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.label :age %>
    <%= f.text_field :age, :size=>"10" %><br><br>
    <%= f.label :description %>
    <div class="my-awesome-class">
    <%= f.text_area :description, :size=>"50" %><br><br>
<div class="container">
  <div class="row align-items-start">
    <div class="col">
    <%= f.label :race, "Race:" %><br>
     <% @races.each do |race| %>
                <%= f.radio_button :race_id, race.id%><data-toggle="tooltip" data-placement="top" title="<%=race.jills_opinion%>"> <%=race.name%> <br>
                    <% end %>
                    <br>
    </div>
     <div class="col">
    <%= f.label :category, "Class:" %><br>
     <% @categories.each do |category| %>
                <%= f.radio_button :category_id, category.id%><data-toggle="tooltip" data-placement="top" title="<%=category.jills_opinion%>"> <%=category.name%> <br>
                    <% end %>
                    <br>
    </div>

    <%= f.submit %>
    <% end %>
    </div>